<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.innoxgen.olavo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.ActivationActivity"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity
            android:name=".activity.PaymentFailedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PaymentResultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NoNetworkActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.VimeVideoActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:protectionLevel="signature"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LiveResultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LiveExamActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".nav_item.PurchaseHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LiveExamListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PDFViewActivity"
            android:exported="false"
            android:protectionLevel="signature"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ExamActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ResultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ChapterDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ChapterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SubjectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.VideoViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:protectionLevel="signature"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Firebase Notifications -->
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false"
            android:protectionLevel="signature"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MyFirebaseInstanceIDService"
            android:exported="false"
            android:protectionLevel="signature">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service> <!-- ./Firebase Notifications -->
        <activity
            android:name=".activity.NavigationActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:protectionLevel="signature"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".activity.Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.OtpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ForgotPassword"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProfileResetActivity"
            android:exported="false"
            android:protectionLevel="signature"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PasswdResetActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>